{% extends 'base.html' %} 
{% block body %}
{% load static %}
<div class="container" style="min-height:100vh;display:grid;place-items:center">
  <h1 class="text-center my-5">About us</h1>
    <div class="row my-5">
      <div class="col-md-7">
        <p>
          Envento is a software downloading website that offers a wide range of
          popular software programs for Windows, Mac, and Linux. It is a
          one-stop-shop for all your software needs, allowing you to download and
          install multiple programs with just a few clicks. Envento is designed to
          be user-friendly, making it easy for even novice computer users to find
          and download the software they need. The website features a clean and
          simple interface, with software programs organized into categories for
          easy browsing. One of the standout features of Envento is its curated
          software collection. The website only offers software programs that are
          safe and reliable, with no adware, spyware, or other unwanted extras.
          This ensures that you can download and install software with confidence,
          without having to worry about the security of your computer. Envento
          also offers a convenient update feature, which allows you to keep all
          your installed programs up-to-date with the latest versions. This helps
          to ensure that your computer stays secure and runs smoothly, without
          having to manually check for updates for each program. Overall, Envento
          is a great choice for anyone looking for a simple and reliable way to
          download and install software programs on their computer.
        </p>
      </div>
      <div class="col-md-4 ms-5 mb-5">
        <img src="{% static 'logo.png' %}" style="height:400px" alt="About Us Image" class="img-fluid" />
      </div>
    </div>
</div>
{% endblock body %}
